* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

.height100, .bg {
  height: 100%; }

.borderRadius, .player {
  border-radius: 50%; }

.bg {
  position: relative;
  background: url("../images/bg.jpg") no-repeat center;
  background-size: 100% 100%; }
  .bg .config-wrapper {
    box-sizing: border-box;
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8); }
    .bg .config-wrapper .config-area {
      position: relative;
      padding: 10px;
      top: 10%;
      width: 60%;
      height: 80%;
      margin: 0 auto;
      background: darkslategray;
      border: 2px solid green;
      border-radius: 10px; }
      .bg .config-wrapper .config-area .p1-config {
        float: left;
        width: 49%;
        height: 80%; }
      .bg .config-wrapper .config-area .p2-config {
        float: right;
        width: 49%;
        height: 80%; }
      .bg .config-wrapper .config-area .split-line {
        position: absolute;
        top: 5%;
        left: 50%;
        margin-left: -2px;
        border-left: 4px solid #ededed;
        height: 70%; }
      .bg .config-wrapper .config-area .start-btn {
        display: inline-block;
        position: absolute;
        bottom: 30px;
        left: 50%;
        margin-left: -50px;
        width: 100px;
        height: 45px;
        border: 2px solid green;
        border-radius: 5px;
        background: #ededed url("../images/start-game-icon.png") no-repeat center; }
        .bg .config-wrapper .config-area .start-btn:hover {
          background: green url("../images/start-game-hover-icon.png") no-repeat center; }
  .bg .blood-area {
    position: relative;
    width: 40%;
    height: 40px;
    top: 30px;
    border: 1px solid green; }
    .bg .blood-area .blood-num {
      position: absolute;
      display: inline-block;
      width: 60px;
      top: 0;
      font-size: 30px;
      font-weight: bold;
      color: #fff; }
    .bg .blood-area .blood-bar-div {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .bg .blood-area .blood-bar-div .blood-bar {
        position: absolute;
        display: inline-block;
        height: 30px;
        width: 99%;
        top: 5px;
        background-color: springgreen;
        transition: left 1s,right 1s; }
      .bg .blood-area .blood-bar-div .blink {
        animation: blink 0.5s infinite; }
  .bg .blood-turn-red {
    border: 1px solid darkred; }
    .bg .blood-turn-red .blood-bar-div .blood-bar {
      background-color: orange; }
  .bg .player1-blood-area {
    float: left;
    border-left: none; }
    .bg .player1-blood-area .blood-num {
      right: -70px;
      text-align: left; }
    .bg .player1-blood-area .blood-bar-div .blood-bar {
      left: 0; }
  .bg .player2-blood-area {
    float: right;
    border-right: none; }
    .bg .player2-blood-area .blood-num {
      left: -70px;
      text-align: right; }
    .bg .player2-blood-area .blood-bar-div .blood-bar {
      right: 0; }

.ground {
  position: fixed;
  width: 100%;
  height: 150px;
  bottom: 0;
  left: 0;
  background: darkslategray; }
  .ground .control-manual {
    height: 100%; }
    .ground .control-manual table {
      height: 100%;
      text-align: center;
      color: #fff; }
      .ground .control-manual table .padding-left {
        padding-left: 40px; }
  .ground .player1-control-manual {
    float: left;
    padding-left: 20px; }
  .ground .player2-control-manual {
    float: right;
    padding-right: 20px; }

.player {
  position: fixed;
  width: 50px;
  height: 50px; }

.player-1 {
  bottom: 150px;
  left: 150px; }

.player-2 {
  bottom: 150px;
  right: 150px; }

.jump {
  animation: 1s jump;
  animation-timing-function: linear; }

.bullet {
  display: inline-block;
  position: fixed;
  width: 42px;
  height: 10px; }

.player-1-bullet-right {
  background: url("../images/player1-bullet-right.png"); }

.player-1-bullet-left {
  background: url("../images/player1-bullet-left.png"); }

.player-2-bullet-right {
  background: url("../images/player2-bullet-right.png"); }

.player-2-bullet-left {
  background: url("../images/player2-bullet-left.png"); }

.ko-area {
  display: none;
  position: fixed;
  width: 375px;
  height: 198px;
  top: 100px;
  left: 50%;
  margin-left: -187px; }
  .ko-area span {
    display: inline-block;
    position: absolute;
    height: 198px; }
  .ko-area .ko-word {
    left: 0;
    width: 317px;
    background: url("../images/ko.png") no-repeat center; }
  .ko-area .symbol-word {
    right: 0;
    width: 50px;
    background: url("../images/symbol.png") no-repeat center; }

.ko-show {
  display: block; }
  .ko-show .ko-word {
    animation: bounce-in 1s;
    animation-fill-mode: both; }
  .ko-show .symbol-word {
    opacity: 0;
    transform-origin: center 160px;
    animation: shake-down 3.5s 1.5s;
    animation-fill-mode: both; }

@keyframes jump {
  0% {
    bottom: 150px; }
  50% {
    bottom: 300px;
    transform: rotate(540deg); }
  100% {
    bottom: 150px;
    transform: rotate(1080deg); } }
@keyframes blink {
  0% {
    background-color: red; }
  50% {
    background-color: white; }
  100% {
    background-color: red; } }
@keyframes shake-down {
  0% {
    bottom: 198px;
    right: 0;
    opacity: 0; }
  1% {
    opacity: 1; }
  5% {
    bottom: 0;
    right: 0;
    display: inline-block; }
  8% {
    bottom: 30px;
    right: -10px; }
  10% {
    bottom: 0;
    right: -20px; }
  12% {
    bottom: 10px;
    right: -25px; }
  13% {
    bottom: 0;
    right: -30px;
    transform: rotate(0deg); }
  35% {
    transform: rotate(-30deg); }
  65% {
    transform: rotate(25deg); }
  97% {
    transform: rotate(-10deg); }
  100% {
    bottom: 0;
    right: -30px;
    transform: rotate(90deg);
    opacity: 1; } }
@keyframes bounce-in {
  0% {
    transform: scale(3, 3); }
  80% {
    transform: scale(1, 1); }
  90% {
    transform: scale(1.5, 1.5); }
  95% {
    transform: scale(0.8, 0.8); }
  100% {
    transform: scale(1, 1); } }

/*# sourceMappingURL=main.css.map */
